* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: JetBrains Mono, Roboto, Helvetica, Arial, sans-serif;
    font-size: 15px;
}

window#waybar {
    background-color: #1e1e2e;
    color: #cdd6f4;
    transition-property: background-color;
    transition-duration: .5s;
    border-radius: 0 0 10 10;
}
#custom-arch {
    background-color: #89b4fa;
    color: #1e1e2e;
    border-radius: 10;
    font-size: 18px;
    margin-left: 4px;
    margin-top: 4px;
    margin-bottom: 4px;
}

#workspaces {
    color: #cdd6f4;
    background-color: #313244;
    border-radius: 10;
    margin-top: 4px;
    margin-bottom: 4px;
    font-size: 13px;
    border: 2px solid #b4befe;
    padding-right: 3px;
}

#workspaces active {
    color: #a6e3a1;
}
#custom-spotify, #pulseaudio, #cpu, #memory, #network, #clock {
    background-color: #313244;
    border-radius: 10;
    margin-right: 4px;
    padding-left: 6px;
    padding-right: 6px;
    margin-top: 4px;
    margin-bottom: 4px;
}

#custom-spotify {
    border: 2px solid #a6e3a1;
}

#pulseaudio {
    border: 2px solid #cba6f7;
}

#cpu {
    border: 2px solid #eba0ac;
}

#memory {
    border: 2px solid #fab387;
}

#network {
    border: 2px solid #f9e2af;
}

#clock {
    border: 2px solid #94e2d5;
}
