* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: JetBrains Mono, Helvetica, Awesome;
    font-size: 16px;
}

window#waybar {
    background-color: #1a1b26;
    color: #a9b1d6;
    border-radius: 8px 8px;
}

#workspaces {
    color: #a9b1d6;
  font-size: 13px;
    margin: 6px;
}

#cpu, #memory {
    background-color: #1a1b26;
    margin: 0;
    padding: 4 12;
}

#pulseaudio {
    margin: 0 0 0 10;
    padding: 0 10;
}

#custom-spotify {
    color: #9ece6a;
  margin: 0 10 0 0;
    padding: 0 10;
}

#pulseaudio {
    color: #bb9af7;
}

#cpu {
    color: #f7768e;
}

#memory {
    color: #ff9e64;
}

#network {
    color: #e0af68;
  margin: 0 10 0 0;
    padding: 0 10;
}

#clock {
    color: #73daca;
    margin: 0 16px 0 0;
}
