* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Inter, Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
}

window#waybar {
    background-color: #1a1b26;
    color: #a9b1d6;
    transition-property: background-color;
    transition-duration: .5s;
    border-bottom: 2px solid #7aa2f7;
}
#custom-arch {
    background-color: #7aa2f7;
    color: #1a1b26;
    border-radius: 6;
    font-size: 20px;
    padding-right: 4px;
    margin-left: 4px;
    margin-top: 4px;
    margin-bottom: 4px;
}

#workspaces {
    color: #a9b1d6;
    border-radius: 10;
    font-size: 13px;
    padding-right: 3px;
}

#workspaces active {
    color: #a6e3a1;
}
#custom-spotify, #pulseaudio, #cpu, #memory, #network, #clock {
  border-radius: 10;
    margin-right: 6px;
    padding-left: 6px;
    padding-right: 6px;
}

#custom-spotify {
    color: #9ece6a;
}

#pulseaudio {
    color: #bb9af7;
}

#cpu {
    color: #f7768e;
}

#memory {
    color: #ff9e64;
}

#network {
    color: #e0af68;
}

#clock {
    color: #73daca;
}
